In [74]:
import pandas as pd
import mysql.connector as connection

In [75]:
try:
    fil = connection.connect(host="localhost", user="root", passwd="mysql")
    print("Database is connected")

    query = "CREATE DATABASE y_finance"
    cur = fil.cursor()
    cur.execute(query)
    print("Database created")

    fil.close()
except Exception as e:
    print(str(e))
    print("Database not created")

Database is connected
Database created

In [76]:
from sqlalchemy import create_engine

df = pd.read_csv("D:/DATA SCIENCE/Projects/Sql/y_finance.csv")

engine = create_engine("mysql+pymysql://root:mysql@localhost/y_finance")
df.to_sql("data", con=engine)
print("data insertion comleted sucessfully")

data insertion comleted sucessfully

In [77]:
try:
    fil = mysql.connector.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    print("Database is connected")

    query = "select * from data"
    df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
     index                 date  open  high   low  close    volume  adjclose
0        0  2024-02-27 14:30:00  1.22  1.36  1.22   1.35   2454400      1.35
1        1  2024-02-26 14:30:00  1.20  1.24  1.19   1.21   1299800      1.21
2        2  2024-02-23 14:30:00  1.18  1.20  1.16   1.19    743200      1.19
3        3  2024-02-22 14:30:00  1.16  1.20  1.16   1.18    610700      1.18
4        4  2024-02-21 14:30:00  1.20  1.20  1.15   1.17    803700      1.17
..     ...                  ...   ...   ...   ...    ...       ...       ...
246    246  2023-03-06 14:30:00  1.97  1.97  1.79   1.86   5195200      1.86
247    247  2023-03-03 14:30:00  1.92  1.98  1.91   1.95   1530600      1.95
248    248  2023-03-02 14:30:00  2.05  2.10  1.85   1.95   6574100      1.95
249    249  2023-03-01 14:30:00  2.00  2.13  1.97   2.06   4840600      2.06
250    250  2023-02-28 14:30:00  1.84  2.17  1.70   2.03  18472400      2.03

[251 rows x 8 columns]

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\3697817901.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame

In [78]:
# Count the number of rows in the DataFrame:
try:
    fil = mysql.connector.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    print("Database is connected")

    query = "select count(*) from data"
    df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\2646855295.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame

   count(*)
0       251

In [79]:
# Select rows where the close price is greater than the open price:
try:
    fil = mysql.connector.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    print("Database is connected")

    query = "select * from data where close>open"
    df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
     index                 date  open  high   low  close    volume  adjclose
0        0  2024-02-27 14:30:00  1.22  1.36  1.22   1.35   2454400      1.35
1        1  2024-02-26 14:30:00  1.20  1.24  1.19   1.21   1299800      1.21
2        2  2024-02-23 14:30:00  1.18  1.20  1.16   1.19    743200      1.19
3        3  2024-02-22 14:30:00  1.16  1.20  1.16   1.18    610700      1.18
4        5  2024-02-20 14:30:00  1.18  1.21  1.16   1.19   1154100      1.19
..     ...                  ...   ...   ...   ...    ...       ...       ...
107    236  2023-03-20 13:30:00  1.54  1.64  1.52   1.57   3710700      1.57
108    238  2023-03-16 13:30:00  1.52  1.66  1.47   1.63   4563100      1.63
109    247  2023-03-03 14:30:00  1.92  1.98  1.91   1.95   1530600      1.95
110    249  2023-03-01 14:30:00  2.00  2.13  1.97   2.06   4840600      2.06
111    250  2023-02-28 14:30:00  1.84  2.17  1.70   2.03  18472400      2.03

[112 rows x 8 columns]

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\1103525831.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame

In [80]:
# Calculate the total volume traded:
try:
    fil = mysql.connector.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    print("Database is connected")

    query = "select sum(volume) as total_traded_vol from data "
    df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
   total_traded_vol
0       606118800.0

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\1589614071.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame

In [81]:
# Calculate the average close price for each month :
try:
    fil = mysql.connector.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    print("Database is connected")

    query = "select monthname(date) as mnth,year(date) as yr,avg(close) from data group by month(date),yr "
    df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
         mnth    yr  avg(close)
0    February  2024    1.205556
1     January  2024    1.102381
2    December  2023    0.833000
3    November  2023    0.753333
4     October  2023    0.772273
5   September  2023    0.969500
6      August  2023    1.093913
7        July  2023    1.187000
8        June  2023    1.209524
9         May  2023    1.285000
10      April  2023    1.364737
11      March  2023    1.652174
12   February  2023    2.030000

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\3710005716.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame

In [82]:
# Find the date with the highest closing price:
try:
    fil = connection.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    print("Database is connected")

    query = "select date,close from data where close=(select max(close) from data) "
    df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
                  date  close
0  2023-03-01 14:30:00   2.06

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\616611726.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)  # Execute query and convert result to DataFrame

In [83]:
# Find the top 5 dates with the highest trading volume:
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance") 
    print("Database is connected")
    
    query="select date,volume from data order by volume desc limit 5"
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
                  date    volume
0  2023-07-19 13:30:00  20383200
1  2023-02-28 14:30:00  18472400
2  2024-01-10 14:30:00  15800900
3  2023-08-15 13:30:00   9017200
4  2023-05-02 13:30:00   8315800

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\3307985274.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [84]:
# Calculate the daily price range (high - low) and find the date with the highest range.
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance") 
    print("Database is connected")
    
    query="select date,(high-low) as daily_range from data where high-low=(select max(high-low) from data)"
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
                  date  daily_range
0  2023-02-28 14:30:00         0.47

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\183752920.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [85]:
# Calculate the cumulative sum of volume over time
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance")
    print("Database is connected")
    
    query="select date,volume,sum(volume) over(order by date) as cumm_volume from data"
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
                    date    volume  cumm_volume
0    2023-02-28 14:30:00  18472400   18472400.0
1    2023-03-01 14:30:00   4840600   23313000.0
2    2023-03-02 14:30:00   6574100   29887100.0
3    2023-03-03 14:30:00   1530600   31417700.0
4    2023-03-06 14:30:00   5195200   36612900.0
..                   ...       ...          ...
246  2024-02-21 14:30:00    803700  601010700.0
247  2024-02-22 14:30:00    610700  601621400.0
248  2024-02-23 14:30:00    743200  602364600.0
249  2024-02-26 14:30:00   1299800  603664400.0
250  2024-02-27 14:30:00   2454400  606118800.0

[251 rows x 3 columns]

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\814507163.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [86]:
# Find the date with the highest percentage change in close price compared to the previous day:
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance") 
    print("Database is connected")
    
    query="SELECT date,(close - LAG(close) OVER (ORDER BY date)) / LAG(close) OVER (ORDER BY date) * 100 AS percentage_change FROM data ORDER BY percentage_change DESC LIMIT 1; "
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
                  date  percentage_change
0  2024-01-10 14:30:00          32.989683

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\2153265771.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [87]:
# Calculate the 7-day moving average of the close price
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance") 
    print("Database is connected")
    
    query="SELECT date,avg(close) over(order by date rows between 6 preceding and current row) as moving_avg from data"
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
                    date  moving_avg
0    2023-02-28 14:30:00    2.030000
1    2023-03-01 14:30:00    2.045000
2    2023-03-02 14:30:00    2.013333
3    2023-03-03 14:30:00    1.997500
4    2023-03-06 14:30:00    1.970000
..                   ...         ...
246  2024-02-21 14:30:00    1.187143
247  2024-02-22 14:30:00    1.182857
248  2024-02-23 14:30:00    1.191429
249  2024-02-26 14:30:00    1.195714
250  2024-02-27 14:30:00    1.214286

[251 rows x 2 columns]

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\1651010573.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [88]:
# Rank the dates by trading volume in descending order:
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance")
    print("Database is connected") 
    
    query="select date,volume,rank() over(order by volume desc) as vol_rank from data"
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
                    date    volume  vol_rank
0    2023-07-19 13:30:00  20383200         1
1    2023-02-28 14:30:00  18472400         2
2    2024-01-10 14:30:00  15800900         3
3    2023-08-15 13:30:00   9017200         4
4    2023-05-02 13:30:00   8315800         5
..                   ...       ...       ...
246  2023-06-05 13:30:00    674800       247
247  2024-02-05 14:30:00    670000       248
248  2024-02-22 14:30:00    610700       249
249  2023-11-22 14:30:00    565100       250
250  2023-11-24 14:30:00    361500       251

[251 rows x 3 columns]

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\2181758214.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [89]:
# Find the average trading volume on days where the close price is higher than the open price:
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance") 
    print("Database is connected")
    
    query="select avg(volume) from data where close>open"
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
    avg(volume)
0  2.466004e+06

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\170730922.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [90]:
# Calculate the average close price for each year
try:
    fil=connection.connect(host="localhost",user="root",passwd="mysql",database="y_finance")
    print("Database is connected")
    
    query="select year(date) as yr,avg(close) as avg_close_price from data group by year(date)"
    df=pd.read_sql_query(query,fil) 
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
     yr  avg_close_price
0  2024         1.150000
1  2023         1.119764

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\1874261072.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [91]:
# Find the date with the highest total trading volume in the last 30 days
try:
    fil = connection.connect(host="localhost", user="root", passwd="mysql", database="y_finance") 
    print("Database is connected")

    query = """
    SELECT 
        date,
        SUM(volume) AS total_volume_last_30_days
    FROM data
    WHERE date >= CURRENT_DATE() - INTERVAL 30 DAY
    GROUP BY date
    ORDER BY total_volume_last_30_days DESC
    LIMIT 1;
    """
    
    cur = fil.cursor()
    cur.execute(query)
    result = cur.fetchall()
    print(result)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
[('2024-01-30 14:30:00', Decimal('3225700'))]

In [92]:
# Identify the top 5 dates with the highest price volatility (measured as high - low) in the last quarter of 2023:
try:
    fil = connection.connect(host="localhost", user="root", passwd="mysql", database="y_finance") 
    print("Database is connected")

    query = """
    SELECT date,(high-low) as price_volatility from data
    where year(date)=2023 and quarter(date)=3
    order by price_volatility desc
    limit 5;
    """
    
    df=pd.read_sql_query(query,fil)
    print(df)
    fil.close()
except exception as e:
    print(str(e))

Database is connected
                  date  price_volatility
0  2023-07-18 13:30:00              0.16
1  2023-07-19 13:30:00              0.14
2  2023-08-15 13:30:00              0.12
3  2023-08-17 13:30:00              0.09
4  2023-07-31 13:30:00              0.09

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\3182174592.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,fil)

In [93]:
# Rank the dates by the change in volume compared to the previous day in descending order:

try:
    fil = connection.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    print("Database is connected") 

    query = """
    SELECT 
    date,
    volume_change,
    RANK() OVER (ORDER BY volume_change DESC) AS volume_change_rank
FROM 
    (SELECT 
        date,
        volume - LAG(volume) OVER (ORDER BY date) AS volume_change
    FROM 
        data) AS subquery;
 
    """

    df = pd.read_sql_query(query, fil)
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
                    date  volume_change  volume_change_rank
0    2023-07-19 13:30:00     13803600.0                   1
1    2024-01-10 14:30:00      9812700.0                   2
2    2023-08-15 13:30:00      6143600.0                   3
3    2023-04-04 13:30:00      5211000.0                   4
4    2023-03-14 13:30:00      4670900.0                   5
..                   ...            ...                 ...
246  2023-08-16 13:30:00     -7055900.0                 247
247  2024-01-11 14:30:00     -9791300.0                 248
248  2023-03-01 14:30:00    -13631800.0                 249
249  2023-07-20 13:30:00    -14229400.0                 250
250  2023-02-28 14:30:00            NaN                 251

[251 rows x 3 columns]

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\726780617.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)

In [94]:
# Calculate the average close price for each month, but only include months where the average close price is 
# above a certain threshold (e.g., $1.00):


try:
    fil = connection.connect(host="localhost", user="root", passwd="mysql", database="y_finance") 
    print("Database is connected")

    query = """
    SELECT 
    monthname(date) as mnth,avg(close) as avg_close_price
    from data
    group by mnth
    having avg(close)>1
    ;
 
    """

    df = pd.read_sql_query(query, fil)
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
       mnth  avg_close_price
0  February         1.248947
1   January         1.102381
2    August         1.093913
3      July         1.187000
4      June         1.209524
5       May         1.285000
6     April         1.364737
7     March         1.652174

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\442999658.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)

In [95]:
# Calculate the average volume for each month, excluding outliers 
# (e.g., volume greater than 2 standard deviations from the mean):


try:
    fil = connection.connect(host="localhost", user="root", passwd="mysql", database="y_finance") 
    print("Database is connected")

    query = """
            WITH volume_stats AS (
                SELECT 
                    STDDEV_POP(volume) AS volume_stddev,
                    AVG(volume) AS volume_mean
                FROM data
            )
            SELECT 
                monthname(date) AS month,
                AVG(volume) AS avg_volume
            FROM data
            CROSS JOIN volume_stats
            WHERE ABS(volume - volume_mean) <= 2 * volume_stddev
            GROUP BY month;
    """

    df = pd.read_sql_query(query, fil)
    print(df)
    fil.close()
except Exception as e:
    print(str(e))

Database is connected
        month    avg_volume
0    February  1.147056e+06
1     January  2.600610e+06
2    December  2.759875e+06
3    November  1.301105e+06
4     October  1.712836e+06
5   September  1.601710e+06
6      August  1.929027e+06
7        July  2.622742e+06
8        June  1.867614e+06
9         May  2.344390e+06
10      April  1.894850e+06
11      March  3.350405e+06

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\2370426672.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)

In [96]:
# Identify the top 10 dates with the highest trading volume, considering only weekdays (Monday to Friday):


try:
    # Establish connection to the MySQL database
    fil = mysql.connector.connect(host="localhost",user="root",passwd="mysql",database="y_finance)
    
    print("Database is connected")

    query = """
            SELECT date,volume FROM data
            WHERE DAYOFWEEK(date) BETWEEN 2 AND 6 
            ORDER BY volume DESC
            LIMIT 10;
    """

    # Execute the query and read the result into a DataFrame
    df = pd.read_sql_query(query, fil)
    print(df)
    
    # Close the connection
    fil.close()

except Exception as e:
    print(str(e))

SyntaxError: unterminated string literal (detected at line 6) (2636475516.py, line 6)

In [97]:
# Find the dates where the close price is above the 200-day Simple Moving Average (SMA):
try:
    # Establish connection to the MySQL database
    fil = mysql.connector.connect(host="localhost", user="root",passwd="mysql", database="y_finance" )
    
    print("Database is connected")

    query = """
            with sma_cte as(
                            select date,close,
                            avg(close) over(order by date rows between 199 preceding and current row) as moving_avg 
                            from data
                            )

        select date from sma_cte where close > moving_avg;
    """

    # Execute the query and read the result into a DataFrame
    df = pd.read_sql_query(query, fil)
    print(df)
    
    # Close the connection
    fil.close()

except Exception as e:
    print(str(e))

Database is connected
                   date
0   2023-03-01 14:30:00
1   2023-07-18 13:30:00
2   2024-01-10 14:30:00
3   2024-01-11 14:30:00
4   2024-01-12 14:30:00
5   2024-01-16 14:30:00
6   2024-01-17 14:30:00
7   2024-01-18 14:30:00
8   2024-01-19 14:30:00
9   2024-01-22 14:30:00
10  2024-01-23 14:30:00
11  2024-01-24 14:30:00
12  2024-01-25 14:30:00
13  2024-01-26 14:30:00
14  2024-01-29 14:30:00
15  2024-01-30 14:30:00
16  2024-01-31 14:30:00
17  2024-02-01 14:30:00
18  2024-02-02 14:30:00
19  2024-02-05 14:30:00
20  2024-02-06 14:30:00
21  2024-02-07 14:30:00
22  2024-02-08 14:30:00
23  2024-02-09 14:30:00
24  2024-02-12 14:30:00
25  2024-02-13 14:30:00
26  2024-02-14 14:30:00
27  2024-02-15 14:30:00
28  2024-02-16 14:30:00
29  2024-02-20 14:30:00
30  2024-02-21 14:30:00
31  2024-02-22 14:30:00
32  2024-02-23 14:30:00
33  2024-02-26 14:30:00
34  2024-02-27 14:30:00

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\2053237238.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)

In [98]:
# Calculate the 20-day Bollinger Bands (BB) for the close price, using a standard deviation multiplier of 2:

try:
    # Establish connection to the MySQL database
    fil = mysql.connector.connect(host="localhost", user="root", passwd="mysql", database="y_finance")
    
    print("Database is connected")

    query = """
            with bb_cte as(select date,close,
                avg(close) over (order by date rows between 19 preceding and current row) AS sma_20,
                stddev(close) OVER (order by date rows between 19 preceding and current row) AS std_20
            from data)
            select date,
            std_20+(2*std_20) as upper_band,
            std_20-(2*std_20) as lower_band
            from bb_cte;
    """

    # Execute the query and read the result into a DataFrame
    df = pd.read_sql_query(query, fil)
    print(df)
    
    # Close the connection
    fil.close()

except Exception as e:
    print(str(e))

Database is connected
                    date  upper_band  lower_band
0    2023-02-28 14:30:00    0.000000    0.000000
1    2023-03-01 14:30:00    0.045000   -0.015000
2    2023-03-02 14:30:00    0.139284   -0.046428
3    2023-03-03 14:30:00    0.146009   -0.048670
4    2023-03-06 14:30:00    0.210428   -0.070143
..                   ...         ...         ...
246  2024-02-21 14:30:00    0.159847   -0.053282
247  2024-02-22 14:30:00    0.155849   -0.051950
248  2024-02-23 14:30:00    0.152941   -0.050980
249  2024-02-26 14:30:00    0.132570   -0.044190
250  2024-02-27 14:30:00    0.132570   -0.044190

[251 rows x 3 columns]

C:\Users\hk\AppData\Local\Temp\ipykernel_6668\2816025694.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, fil)